body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fcaf9f;

}

.grid{
    position: relative;
}

.item{
    display: block;
    position: absolute;
    height: 200px;
    widows: 200px;
    line-height: 200px;
    margin: 5px;
    text-align: center;
    z-index: 1;
}